.git
.venv
**/__pycache__
.pytest_cache
.ruff_cache
deploy/gcp/.terraform
**/*.tfvars
**/*.tfstate*
**/.terraform
**/*.tfplan
**/*.tfvars.json
**/.env
**/.env.*
**/.secrets
**/secrets
**/secrets.*
**/*.pem
**/*.key
