.gcloudignore
.git
.gitignore
.venv
.pytest_cache
.ruff_cache
**/__pycache__
**/.terraform
**/*.tfvars
**/*.tfvars.json
**/*.tfstate*
**/*.tfplan
**/.env
**/.env.*
**/.secrets
**/secrets
**/secrets.*
**/*.pem
**/*.key
